<div class="container">
    <div class="text-center alert alert-primary" role="alert">
        <h4><strong>All Post</strong></h4>
    </div>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Comments Allowed</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
          {{#each posts}}
              <tr>
                    <td>{{title}}</td>
                    <td>{{description}}</td>
                    <td>{{status}}</td>
                    <td>{{allowComments}}</td>
                    <td>
                        <a href="/admin/posts/edit/{{_id}}" class="btn btn-warning btn-sm">Edit</a>
                        <a href="/admin/posts/delete/:id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
          {{/each}}
        </tbody>
    </table>
</div>